.card__input {
  color: #000;
  font-size: 15px;
  line-height: 160.69%;
  display: block;
  width: calc(100% - 100px);
  height: 36px;
  padding: 0 12px;
  text-align: center;
  border: 1px solid #e0e0e0;
  background: #fcfcfc;
}
