.header__logo {
  max-width: 180px;
  background-color: transparent;
  margin-right: 200px;
}
@media (max-width: 1024px) {
  .header__logo {
    max-width: 122px;
    margin-right: 115px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 100px;
    margin-right: 90px;
  }
}
@media (max-width: 414px) {
  .header__logo {
    margin-right: 0;
  }
}
