.cart__top {
  font-family: "Nunito";
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 414px) {
  .cart__top {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
