.card__btn {
  border-radius: 90px;
  background: rgb(20, 20, 22);
  color: white;
  cursor: pointer;
  width: 91px;
  height: 36px;
  font-size: 13px;
  text-wrap: nowrap;
  margin-left: 13px;
  font-family: "Nunito";
}
.card__btn:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}
