.card__btn {
  border: 2px solid black;
  border-radius: 4px;
  background-color: inherit;
  cursor: pointer;
  width: 91px;
  height: 36px;
  transition: 0.2s linear;
  font-size: 15px;
  font-weight: bold;
  line-height: 160.69%;
}
