.header__contacts-vk {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-image: url(../../../images/Vkontakte-Logo-Transparent-Isolated-PNG\ 1.svg);
  background-repeat: no-repeat;
  width: 53px;
  height: 53px;
}
