.card {
  max-width: 282px;
  height: 362px;
  border: 1px solid black;
  border-radius: 10px;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
