.header__nav {
  display: flex;
  width: 500px;
  height: 25px;
  margin-right: 200px;
  column-gap: 100px;
  flex-wrap: nowrap;
  text-align: center;
}

@media (max-width: 1024px) {
  .header__nav {
    margin-right: 140px;
  }
}
