.card__button-minus {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  background-color: silver;
  cursor: pointer;

  background-image: url(../../../images/minus-svgrepo-com.svg);
}
.card__button-minus:hover {
  background-color: darkgrey;
}
.card__button-minus:active {
  background-color: white;
}
