.card__button-minus {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  background-color: white;
  cursor: pointer;

  background-image: url(../../../images/iconPlusMinus/button-circle-remove-svgrepo-com.svg);
  background-size: 35px;
  border: none;
}
.card__button-minus:hover {
  opacity: .5;
}
.card__button-minus:active {
  color: chocolate;
}
