.header__nav-promo {
  width: 100px;
  height: 25px;
  border: none;
  /* font: inherit; */
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  list-style-type: none;
  column-gap: 18px;
}
.header__nav-promo:hover {
  opacity: 0.5;
  color: brown;
}
