.header__nav-map {
  width: 160px;
  height: 25px;
  border: none;
  /* font: inherit; */
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  list-style-type: none;
  column-gap: 18px;
  text-transform:uppercase;
}
.header__nav-map:hover {
  opacity: 0.5;
}
