.popup__container {
  max-width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}
@media (max-width: 414px) {
  .popup__container {
    top: 10px;
  }
}
