.header__cart-image {
  max-width: 33px;
}
.header__cart-image:hover {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .header__cart-image {
    max-width: 23px;
  }
}
@media (max-width: 414px) {
  .header__cart-image {
    max-width: 40px;
  }
}
